/* -------------------------- About Us ------------------------------------------------- */
.about-us-container {
    width: 100%;
    height: 800px;
    background-color: black;
    color: white;
}

#aboutUsTitle {
   padding-top: 120px;
}

#aboutUsTable {
    width: 80%;
    height: 80%;
    margin: auto;
}


.main-container {
    width : 100%;
    height : 800px;
    background-image: url("../img/otoro1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow:scroll; 
    overflow-x:hidden;
    overflow-y:hidden;
}

#aboutUsTextTop {
    padding-top: 20px;
    color: white;
}

#seatTable {
    padding-top: 100px;
    color: white;
}


















/* ---------------------------------------------------------------------- Operating Hour  */
/* #operatingHour_section { */
    /* background-color: #001725; */
    /* background-color: black; */
/* } */

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-style: solid;
    border-color: gold;
    padding: 90px 50px 90px 50px;
    text-align: center;
} */

/* #operatingHour_table { */
    /* width: 500px; */
    /* margin: 0 auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
} */

/* #operatingHour_table td {
    width: 250px;
}

#operatingHour_table .left {
    text-align: left;
}

#operatingHour_table .right {
    text-align: right;
} */


/* #operatingHour_section {
    background-color: #001725; */
    /* background-size: cover;
    background-position: center;
    padding: 30px;
}

.centered {
    position: relative;  */
    /* color: white;
    border-style: solid;
    border-color: gold;
    padding: 90px 20px 90px 20px;
    text-align: center;
    background-color: black;
} */

/* #operatingHour_table {
    margin: 0 auto;
    width: 500px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

#operatingHour_table td {
    width: 250px;
}

#operatingHour_table .left {
    text-align: left;
}

#operatingHour_table .right {
    text-align: right;
} */

#operatingHour_section {
    background-color: #242223;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.centered {
    position: relative;
    color: white;
    border-style: solid;
    border-color: gold;
    padding: 50px 20px 50px 20px;
    text-align: center;
    background-color: #1c2424;
}

.logo-img {
    display: block;
    margin: 0 auto;
    /* Add any additional styling for your logo image, e.g., width and height */
    width: 200px;
    height: auto;
}

#operatingHour_table {
    margin: 0 auto;
    width: 500px;
    border-collapse: separate;
    border-spacing: 0 15px;
    position: relative; /* Make it relative to contain pseudo-elements */
}

#operatingHour_table td {
    width: 250px;
}

#operatingHour_table .left {
    text-align: left;
}

#operatingHour_table .right {
    text-align: right;
}

#operatingHour_section .col {
    position: relative; /* Add relative positioning to .col within #operatingHour_section */
}

#operatingHour_section .col::before {
    content: '';
    position: absolute;
    bottom: 50%; /* Position at the middle of the .col within #operatingHour_section */
    left: 0;
    right: 0;
    border-top: 2px solid white; /* Add a white horizontal line to .col within #operatingHour_section */
}



/* #operatingHour_bg {
    filter: brightness(50%) blur(5px);
    -webkit-filter: brightness(50%) blur(5px);
} */

/* ---------------------------------------------------------------------- Reservation  */
#reservation_section {
    padding-top: 30px;
    height: 900px;
    background-image: url(../img/sushi_sake2_bg1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#reserveNowBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 60px;
    margin-left: 250px;
    /* border: 3px solid green; */
}

/* #reserveNowBtn button {
    width: 100%;
} */

#reserveDIV {
    /* background-color: #fdfaff; */
    color: white;
    padding: 100px 20px 20px 20px;
    width: 100%;
    /* border: 5px solid; */
    margin-top: 20px;
    /* margin-left: 100px; */
    /* box-shadow: 5px 10px 18px #2b2a2a; */
}