.logo-img {
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some margin for spacing */
}

.navbar-nav .nav-link {
    color: white;
}