.logo-img {
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some margin for spacing */
}

.navbar-nav .nav-link {
    color: white;
    font-family: "Tahoma";
}

/* -------------------------- Footer ------------------------------------------------- */
.footerContainer {
    background-color: black;
    color: white;
    padding: 30px 30px 30px 30px;
    font-family: "Tahoma";
}

.nav-link {
    color: white;
}
